//Copyright (C)2014-2022 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.10
//Part Number: GW2A-LV18PG256C8/I7
//Device: GW2A-18
//Device Version: C
//Created Time: Thu 01 12 21:11:35 2023





IO_LOC "GPIO[15]" P6;
IO_PORT "GPIO[15]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 ;
IO_LOC "GPIO[14]" T6;
IO_PORT "GPIO[14]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 ;
IO_LOC "GPIO[13]" R8;
IO_PORT "GPIO[13]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 ;
IO_LOC "GPIO[12]" T7;
IO_PORT "GPIO[12]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 ;
IO_LOC "GPIO[11]" P8;
IO_PORT "GPIO[11]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 ;
IO_LOC "GPIO[10]" T8;
IO_PORT "GPIO[10]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 ;
IO_LOC "GPIO[9]" T9;
IO_PORT "GPIO[9]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 ;
IO_LOC "GPIO[8]" P9;
IO_PORT "GPIO[8]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 ;
IO_LOC "GPIO[7]" C7;
IO_PORT "GPIO[7]" IO_TYPE=LVCMOS15 PULL_MODE=UP DRIVE=8 ;
IO_LOC "GPIO[6]" D7;
IO_PORT "GPIO[6]" IO_TYPE=LVCMOS15 PULL_MODE=UP DRIVE=8 ;
IO_LOC "GPIO[5]" T2;
IO_PORT "GPIO[5]" IO_TYPE=LVCMOS15 PULL_MODE=UP DRIVE=8 ;
IO_LOC "GPIO[4]" T3;
IO_PORT "GPIO[4]" IO_TYPE=LVCMOS15 PULL_MODE=UP DRIVE=8 ;
IO_LOC "GPIO[3]" L16;
IO_PORT "GPIO[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 ;
IO_LOC "GPIO[2]" L14;
IO_PORT "GPIO[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 ;
IO_LOC "GPIO[1]" N14;
IO_PORT "GPIO[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 ;
IO_LOC "GPIO[0]" N16;
IO_PORT "GPIO[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 ;




IO_LOC "SD_CHECKOUT" A13;
IO_PORT "SD_CHECKOUT" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 ;
IO_LOC "SD_CARD_INIT" C13;
IO_PORT "SD_CARD_INIT" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 ;
IO_LOC "SD_DATAOUT" R14;
IO_PORT "SD_DATAOUT" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 SINGLE_RESISTOR=OFF BANK_VCCIO=3.3;
IO_LOC "SD_CS" N11;
IO_PORT "SD_CS" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 SINGLE_RESISTOR=OFF BANK_VCCIO=3.3;
IO_LOC "SD_CLK" N10;
IO_PORT "SD_CLK" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 SINGLE_RESISTOR=OFF BANK_VCCIO=3.3;





IO_LOC "FLASH_SPI_CLK" L10;
IO_PORT "FLASH_SPI_CLK" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 ;
IO_LOC "FLASH_SPI_WPN" E8;
IO_PORT "FLASH_SPI_WPN" IO_TYPE=LVCMOS15 PULL_MODE=UP DRIVE=8 ;
IO_LOC "FLASH_SPI_MOSI" R10;
IO_PORT "FLASH_SPI_MOSI" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 ;
IO_LOC "FLASH_SPI_MISO" P10;
IO_PORT "FLASH_SPI_MISO" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 ;
IO_LOC "FLASH_SPI_CSN" M9;
IO_PORT "FLASH_SPI_CSN" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 ;
IO_LOC "FLASH_SPI_HOLDN" E9;
IO_PORT "FLASH_SPI_HOLDN" IO_TYPE=LVCMOS15 PULL_MODE=UP DRIVE=8 ;



IO_LOC "JTAG_18" E15;
IO_PORT "JTAG_18" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 ;
IO_LOC "JTAG_17" D14;
IO_PORT "JTAG_17" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 ;
IO_LOC "JTAG_16" A15;
IO_PORT "JTAG_16" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 ;
IO_LOC "JTAG_15" B14;
IO_PORT "JTAG_15" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 ;
IO_LOC "JTAG_14" A14;
IO_PORT "JTAG_14" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 ;
IO_LOC "JTAG_13" B13;
IO_PORT "JTAG_13" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 ;
IO_LOC "JTAG_12" C12;
IO_PORT "JTAG_12" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 ;
IO_LOC "JTAG_11" B12;
IO_PORT "JTAG_11" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 ;
IO_LOC "JTAG_10" B11;
IO_PORT "JTAG_10" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 ;
IO_LOC "JTAG_9" A11;
IO_PORT "JTAG_9" IO_TYPE=LVCMOS33 PULL_MODE=UP ;
IO_LOC "JTAG_8" D11;
IO_PORT "JTAG_8" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 ;
IO_LOC "JTAG_7" N6;
IO_PORT "JTAG_7" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "JTAG_6" N7;
IO_PORT "JTAG_6" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 ;
IO_LOC "JTAG_5" N9;
IO_PORT "JTAG_5" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "JTAG_4" N8;
IO_PORT "JTAG_4" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 ;
IO_LOC "JTAG_3" L9;
IO_PORT "JTAG_3" IO_TYPE=LVCMOS33 PULL_MODE=UP ;


IO_LOC "hwRstn" T10;
IO_PORT "hwRstn" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;


IO_LOC "MDIO" A12;
IO_PORT "MDIO" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 ;
IO_LOC "RGMII_RXD[3]" G16;
IO_PORT "RGMII_RXD[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "RGMII_RXD[2]" H15;
IO_PORT "RGMII_RXD[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "RGMII_RXD[1]" J11;
IO_PORT "RGMII_RXD[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "RGMII_RXD[0]" L12;
IO_PORT "RGMII_RXD[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "RGMII_RX_CTL" F14;
IO_PORT "RGMII_RX_CTL" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "RGMII_RXC" F16;
IO_PORT "RGMII_RXC" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;


IO_LOC "MDC" C11;
IO_PORT "MDC" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "RGMII_TXD[3]" H14;
IO_PORT "RGMII_TXD[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "RGMII_TXD[2]" H16;
IO_PORT "RGMII_TXD[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "RGMII_TXD[1]" J15;
IO_PORT "RGMII_TXD[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "RGMII_TXD[0]" K16;
IO_PORT "RGMII_TXD[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "RGMII_TX_CTL" K14;
IO_PORT "RGMII_TX_CTL" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "RGMII_TXC" K15;
IO_PORT "RGMII_TXC" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;




IO_LOC "SD_CHECKIN" D15;
IO_PORT "SD_CHECKIN" IO_TYPE=LVCMOS33 PULL_MODE=UP ;
IO_LOC "SD_DATAIN" M8;
IO_PORT "SD_DATAIN" IO_TYPE=LVCMOS33 PULL_MODE=UP SINGLE_RESISTOR=OFF BANK_VCCIO=3.3;



IO_LOC "UART1RXD" J16;
IO_PORT "UART1RXD" IO_TYPE=LVCMOS33 PULL_MODE=UP ;
IO_LOC "UART1TXD" J14;
IO_PORT "UART1TXD" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 ;

IO_LOC "UART0TXD" M11;
IO_PORT "UART0TXD" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 ;
IO_LOC "UART0RXD" T13;
IO_PORT "UART0RXD" IO_TYPE=LVCMOS33 PULL_MODE=UP ;


IO_LOC "MISO" P11;
IO_PORT "MISO" IO_TYPE=LVCMOS33 PULL_MODE=UP ;
IO_LOC "NSS" T12;
IO_PORT "NSS" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 ;
IO_LOC "SCLK" R11;
IO_PORT "SCLK" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 ;
IO_LOC "MOSI" T11;
IO_PORT "MOSI" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 ;

IO_LOC "SDA" M15;
IO_PORT "SDA" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 ;
IO_LOC "SCL" M14;
IO_PORT "SCL" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 ;


IO_LOC "HCLK" H11;
IO_PORT "HCLK" IO_TYPE=LVCMOS33 PULL_MODE=UP ;
